.navbar-styles {
  background-color: black !important;
}

.nav-item {
  margin-right: 10px !important;
}

.navbar-styles li a {
  color: white !important;
  padding: 5px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.navbar-styles li a:hover {
  color: rgb(0, 0, 0) !important;
  background-color: white;
  border-radius: 5px;
}

.gray-container{
  background-color: rgb(228, 228, 228);
}